{% extends "todolist/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="p-4 my-3 bg-info text-white">
  <h1>Hello there!</h1>
  <h2>To-do Listy is an application that lets you
  create and manage your day-to-day tasks.
  </h2>
  <h3>Login to use the services!</h3>
  <h4>(Or Sign up if you don't have an account)</h4>
</div>
<div class="p-4 my-3 mx-auto w-50 border border-info rounded-sm">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {%if login%}active{%endif%}" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {%if not login%}active{%endif%}" href="{% url 'sign_up' %}">Sign Up</a>
    </li>
  </ul>
  {% if login %}
  <div class="p-4 my-3">
    <form id ="form" method="post">
      {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
  </div>
  {% else %}
  <div class="p-4 my-3 overflow-auto" style="max-height: 350px;">
    <form id="form" method="post">
      {% csrf_token %}
          <fieldset class="form-group">
                {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Sign Up</button>
          </div>
    </form>
  </div>
  {% endif %}
</div>

{% endblock content %}
